@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");
:root {
  --bg: #121212;
  --bg-2: #101010;
  --text-color: white;
  --link-color: lightgray;
  --link-hover: gray;
}

* {
  font-family: "Roboto";
  margin: 0px;
  padding: 0px;
  font-weight: 300;
}

body {
  background: repeating-linear-gradient(
    60deg,
    var(--bg),
    var(--bg) 200px,
    var(--bg-2) 200px,
    var(--bg-2) 400px
  );
  color: var(--text-color);
  width: 100%;
  height: 100vh;
  transition: 0.04s ease-out;
  overflow: hidden;
  justify-content: center;
}

.center {
  display: flex;
  position: absolute;
  width: 100vw;
  height: 100vh;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.large {
  font-size: 9rem;
}
.bitdefender {
  font-size: 3rem;
}
.bigbutnottoobig {
  font-size: 2.25rem;
}
.medium {
  font-size: 1.5rem;
}

.small {
  font-size: 1rem;
}

.absurdlysmall {
  font-size: 0.75rem;
}

.funny {
  font-size: 1.15rem;
}

#linksContainer {
  display: flex;
  justify-content: center;
  width: 100vw;
  margin-top: 2rem;
}
#linksContainer div {
  margin: 0 3rem;
}
a {
  color: var(--link-color);
  transition: color 0.2s ease;
  text-decoration: none;
  font-size: 120%;
}
a:hover {
  color: var(--link-hover);
}
#weather {
  padding: 1rem;
  margin-left: -10vw;
  transition: margin-left .6s cubic-bezier(0.165, 0.84, 0.44, 1);
  position: absolute;
}
#weather.sliding {
  margin-left: 0;
}
#weatherimg {
  margin: -0.75rem -0.8rem;
  width: 3rem;
}
#timetable, #timetableFull {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: none;
  text-align: right;
}
#settingsButton {
  position:absolute;
  left: 1rem;
  bottom: 1rem;
  width: 4rem;
  opacity: .1;
  transition: opacity .2s ease;
  z-index: 999;
}
#settingsButton:hover {
  opacity: .3;
}
.flexboxlol {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
}
.flexboxlol div {
  padding: 0 1rem;
}
#searchBar {
  width: 90vw;
  font-size: 2.5rem;
  background-color: transparent;
  border: none;
  color: var(--text-color);
  text-align: center;
}

#backgroundImage {
  opacity: .1;
  position:absolute;
  width: 100vw;
  height: 100vh;
  z-index: -999;
}